@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
@import "../abstracts/_variables.scss";

*,
*::after,
*::before {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  // background-color: $color-background;
  // color: $color-low-contrast;
  background-color: var(--color-background);
  color: var(--color-low-contrast);

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
