<div class="step-bubbles-container">
  <ng-container *ngFor="let step of steps; let lastItem = last; let i = index">
    <div
      [ngClass]="{
        'step-complete': i < stepIndex,
        'step-incomplete': i > stepIndex,
        'step-current': i === stepIndex
      }"
      class="step-bubble"
    >
      {{ i + 1 }}
    </div>
    <div *ngIf="!lastItem" class="step-divider"></div>
  </ng-container>
</div>

<div class="step-titles-container">
  <ng-container *ngFor="let step of steps; let lastItem = last; let i = index">
    <div class="step-name">{{ step.name }}</div>
  </ng-container>
</div>
