@import "../../../sass/abstracts/variables.scss";

.form-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.form-next-button {
  background-color: $color-primary;
}

.buttons {
  width: 100%;
  display: flex;
}

.form-btn {
  color: $color-high-contrast;
  background: $color-primary;
  margin: 2rem 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: $button-font-size;
  cursor: pointer;
  border: none !important;
  width: 100%;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }

  &--back {
    background: $color-failure;
  }
}

// stepper styles
.step-bubbles-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 3.2rem 0;
  margin-top: 3.2rem;
}

.step-titles-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacer-3;
  margin-top: $spacer-1;
}

.step-bubble {
  padding: $spacer-1;
  border: 0.3rem solid $color-primary;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $color-primary;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}

.step-divider {
  height: 2px;
  background: $color-primary;
  flex: 1;
  margin: 0 1rem;
}

.step-current {
  background: $color-primary;
  color: $color-high-contrast;
}

.step-complete {
  border: 0.3rem solid $color-success;
  color: transparent;
  background-color: transparent;
  background-image: url(../../../assets/check.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;

  svg#checkbox {
    stroke: $color-success;
    stroke-width: 20;
  }
}

.step-incomplete {
  cursor: not-allowed;
  pointer-events: none;
}

.step-name {
  font-size: $default-font-size;
  font-weight: 600;
}
