<div class="form-page">
  <div class="step-bubbles-container">
    <ng-container
      *ngFor="let step of steps; let lastItem = last; let i = index"
    >
      <div
        [ngClass]="{
          'step-complete': i < stepIndex,
          'step-incomplete': i > stepIndex,
          'step-current': i === stepIndex
        }"
        class="step-bubble"
      >
        {{ i + 1 }}
      </div>
      <div *ngIf="!lastItem" class="step-divider"></div>
    </ng-container>
  </div>

  <div class="step-titles-container">
    <ng-container
      *ngFor="let step of steps; let lastItem = last; let i = index"
    >
      <div class="step-name">{{ step.name }}</div>
    </ng-container>
  </div>

  <div
    *ngFor="let step of steps; let i = index"
    [style.display]="i === stepIndex ? 'block' : 'none'"
  >
    <ng-container *ngTemplateOutlet="step.templateRef"></ng-container>
  </div>

  <div class="buttons">
    <button
      class="form-btn form-btn--back"
      *ngIf="stepIndex !== 0"
      (click)="prevStep()"
    >
      Previous
    </button>
    <button
      class="form-btn"
      [disabled]="steps[stepIndex].invalid"
      (click)="!isLastStep() ? nextStep() : wizardSubmit()"
    >
      {{ isLastStep() ? "Finish" : "Continue" }}
    </button>
  </div>
</div>
